<div class="advantages">
    <div class="container">
        <h2>Наши преимущества</h2>
        <div class="advantages_wrap">
            [[$AdvantagesItem?
                &title = `Склад всегда в доступности`
                &text = `Возможность самовывоза со склада крупным транспортом в любой день недели`
                &img = `advantages/1.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Опыт и качество`
                &text = `Более 8 лет работы на рынке сделали нас профессионалами в сфере электротоваров`
                &img = `advantages/2.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Гарантия качества`
                &text = `Только оригинальная продукция от официальных поставщиков. Мы не торгуем китайскими подделками!`
                &img = `advantages/3.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Стоимость`
                &text = `Мы держим самые низкие цены в Москве на весь ассортимент!`
                &img = `advantages/4.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Команда`
                &text = `Большая и компетентная команда компании обеспечит высокое качество обслуживания!`
                &img = `advantages/5.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Доставка`
                &text = `Быстрая и надежная доставка в любой регион России`
                &img = `advantages/6.svg`
            ]]
        </div>
    </div>
</div>