<script src="/assets/template/js/libs/jquery.magnific-popup.min.js"></script>
<script src="/assets/template/js/libs/jquery-input-mask-phone-number.js"></script>
<script src="/assets/template/js/libs/jcookie.js"></script>
<script src="/assets/template/js/libs/slick.js"></script>
<script src="/assets/template/js/libs/lazysizes.min.js"></script>

<script src="/assets/template/js/preloader.js"></script>
<script src="/assets/template/js/callback.js"></script>
<script src="/assets/template/js/modals.js"></script>
<script src='/assets/template/js/toup.js'></script>
<script src="/assets/template/js/anchor.js"></script>
<script src="/assets/template/js/tabs.js"></script>

[[*template:is=`1`:then=`
<script src="/assets/template/js/slider.js"></script>
`]]

[[*template:is=`3`:then=`
<script src='/assets/template/js/basket_count.js'></script>
`]]

[[*template:is=`8`:then=`
<script src='/assets/template/js/options_item.js'></script>
<script src='/assets/template/js/fastbuy.js'></script>
<script src='/assets/template/js/basket_count.js'></script>
<script src='/assets/template/js/slick_catalog.js'></script>
`]]

[[*template:is=`17`:then=`
<script src='/assets/template/js/component/msearch2.js'></script>
<script src='/assets/template/js/fastbuy.js'></script>
<script src='/assets/template/js/options_item.js'></script>
<script src='/assets/template/js/basket_count.js'></script>
<script src='/assets/template/js/filter.js'></script>
`]]

<script src='/assets/template/js/menu.js'></script>
<script src='/assets/template/js/lazyload_css.js'></script>
<script src='/assets/template/js/main.js'></script>


