<script src="/assets/template/js/libs/jquery.magnific-popup.min.js"></script>
<script src="/assets/template/js/libs/jquery-input-mask-phone-number.js"></script>
<script src="/assets/template/js/libs/jcookie.js"></script>
<script src="/assets/template/js/libs/slick.js"></script>

<script src="/assets/template/js/preloader.js"></script>
<script src="/assets/template/js/callback.js"></script>
<script src="/assets/template/js/modals.js"></script>
<script src='/assets/template/js/toup.js'></script>
<script src="/assets/template/js/anchor.js"></script>

[[*template:is=`1`:then=`
    <script src="/assets/template/js/slider.js"></script>
`]]

<script src='/assets/template/js/main.js'></script>

<link rel="stylesheet" href="/assets/template/css/index.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/magnific-popup.css" type="text/css">


