<div class="msCart">
    {if !count($products)}
        <div class="basket__empty">
            <div class="container">
                <p>
                    {'ms2_cart_is_empty' | lexicon}
                </p>
            </div>
        </div>
        [[$CarouselItems]]
    {else}
    {$_modx->lexicon->load('minishop2:product')}
    
    <div class="basket__wrap">
        <div class="container">
            <div class="basket__title">
                <h1>Список товаров в корзине</h1>
            </div>
            <div class="basket__product">
                <div class="basket__product_wrap basket__product_cont">
                    <div class="basket__product_image">
                        
                    </div>
                    <div class="basket__product_title">
                        <p>Наименование</p>
                    </div>
                    <div class="basket__product_price">
                        <p>Цена</p>
                    </div>
                    <div class="basket__product_count">
                        <p>Количество</p>
                    </div>
                    <div class="basket__product_allprice">
                        <p>Общая стоимость</p>
                    </div>
                </div>
                {foreach $products as $product}
                    <div class="basket__product_wrap basket__product_item" id="{$product.key}">
                        <div class="basket__product_image">
                            <a href="{$product.id | url}"><img src="{$product.image}" title="{$product.pagetitle}" alt="{$product.pagetitle}"></a>
                        </div>
                        <div class="basket__product_title">
                            <a href="{$product.id | url}">{$product.pagetitle}</a>
                            <p class="article"><b>Артикул</b>: {$product.article}</p>
                            {foreach $product.options as $name => $value}
                                <p><b>{('ms2_product_' ~ $name) | lexicon}</b>: {$value}</p>
                            {/foreach}
                        </div>
                        <div class="basket__product_price">
                            <p>{$product.price} <span class="rub">Р</span></p>
                        </div>
                        <div class="basket__product_count">
                            <form method="post" class="ms2_form form-inline" role="form">
                                <input type="hidden" name="key" value="{$product.key}"/>
                                <div class="form__count">
                                    <button class="button button_white  js_count_button form__count_button  js_minus" data-id="{$product.key}" type="submit" name="ms2_action" value="cart/change" data-parent=".basket__product_item">-</button>
                                    <input type="number" name="count" value="{$product.count}" class="js_form_count_input" data-id="{$product.key}" data-parent=".basket__product_item">
                                    <button class="button button_white js_count_button form__count_button  js_plus" data-id="{$product.key}" type="submit" name="ms2_action" value="cart/change" data-parent=".basket__product_item">+</button>
                                </div>
                            </form>
                        </div>
                        <div class="basket__product_allprice">
                            <p class="price h4">
                                <span class="product_price js_price_charger_target" data-id="{$product.key}" data-price="{$product.price}">{$product.count * $product.price}</span>
                                <span class="rub">Р</span>
                            </p>
                        </div>
                        <div class="basket__product_remove">
                            <form method="post" class="ms2_form">
                                <input type="hidden" name="key" value="{$product.key}">
                                <button class="button" type="submit" name="ms2_action" value="cart/remove">
                                    [[IncSvg? &file=`icons/trash.svg`]]
                                </button>
                            </form>
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
            
        <div class="basket__total">
            <div class="container">
                <div class="basket__total_wrap">
                    <div class="basket__total_block">
                        <div class="basket__total_block_count">
                            <p>Товаров в корзине: <span class="ms2_total_count h3">{$total.count}</span> шт.</p>
                            <p>На сумму: <span class="ms2_total_cost h3">{$total.cost}</span> <span class="rub h3">Р</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>

