[[pdoMenu?
    &parents=`[[+id]]`
    &level=`0`
    &tplInner=`SubmenuBlock`
    &toPlaceholder = `submenu`
    &where = `{"template:IN":[5,17]}`
]]
<div class="brand_catalogs__item" data-id="[[+id]]">
    <div class="brand_catalogs__item_img">
        <a href="[[+uri]]" data-id="[[+id]]"><img src="[[+tv.CatalogImg]]" alt="[[+pagetitle]]"></a>
    </div>
    <div class="brand_catalogs__item_title">
        <a href="[[+uri]]" data-id="[[+id]]">
            <h3>[[+menutitle:empty=`[[+pagetitle]]`:default=`[[+menutitle]]`]]</h3>
            [[+card_type:is=`brands_card`:then=`[[+submenu:notempty=`[[IncSvg? &file=`icons/toup.svg`]]`]]`]]
        </a>
    </div>
    [[+card_type:is=`brands_card`:then=`
        [[+submenu:notempty=`
            <div class="brand_catalogs__item_menu">
                [[+submenu]]
            </div>
        `]]
    `]]
</div>