[[pdoMenu?
    &parents=`[[+id]]`
    &level=`0`
    &tplInner=`SubmenuBlock`
    &toPlaceholder = `submenu`
    &where = `{"template:IN":[5,17,16]}`
]]
[[msProducts?
    &parents=`[[+id]]`
    &depth = `5`
    &limit = `4`
    &tpl=`@INLINE <img src="[[+image]]" alt="[[+pagetitle]]">`
    &where = `{"template:NOT IN":[5,17,16]}`
    &toPlaceholder = `images`
    &sortby = `RAND()`
]]
<div class="brand_catalogs__item" data-id="[[+id]]">
    <div class="brand_catalogs__item_img">
        <a href="[[+uri]]" class="product_images"  data-id="[[+id]]">[[+images]]</a>
    </div>
    <div class="brand_catalogs__item_title">
        <a href="[[+uri]]" data-id="[[+id]]">
            <h3>[[+menutitle:empty=`[[+pagetitle]]`:default=`[[+menutitle]]`]]</h3>
            [[+card_type:is=`brands_card`:then=`[[+submenu:notempty=`[[IncSvg? &file=`icons/toup.svg`]]`]]`]]
        </a>
    </div>
    [[+card_type:is=`brands_card`:then=`
        [[+submenu:notempty=`
            <div class="brand_catalogs__item_menu">
                [[+submenu]]
            </div>
        `]]
    `]]
</div>