[[pdoMenu?
    &parents=`[[+id]]`
    &level=`1`
    &tpl=`SubmenuItem`
    &toPlaceholder = `submenu`
    &where = `{"template:IN":[5,17,16]}`
]]
[[msProducts?
    &parents=`[[+id]]`
    &depth = `5`
    &limit = `4`
    &tpl=`@INLINE  [[+image]]`
    &where = `{"template:NOT IN":[5,17,16]}`
    &toSeparatePlaceholders = `images`
    &sortby = `RAND()`
]]
<div class="brand_catalogs__item" data-id="[[+id]]">
    <div class="brand_catalogs__item_img">
        <a href="/[[+uri]]" class="product_images"  data-id="[[+id]]">
            [[+images0:notempty=`<img src="[[+images0:phpthumbon=`w=70&h=70&zc=1`]]" alt="[[+pagetitle]]" class="lazyload">`]]
            [[+images1:notempty=`<img src="[[+images1:phpthumbon=`w=70&h=70&zc=1`]]" alt="[[+pagetitle]]" class="lazyload">`]]
            [[+images2:notempty=`<img src="[[+images2:phpthumbon=`w=70&h=70&zc=1`]]" alt="[[+pagetitle]]" class="lazyload">`]]
            [[+images3:notempty=`<img src="[[+images3:phpthumbon=`w=70&h=70&zc=1`]]" alt="[[+pagetitle]]" class="lazyload">`]]
        </a>
    </div>
    <div class="brand_catalogs__item_title">
        <a href="/[[+uri]]" data-id="[[+id]]">
            <h3>[[+menutitle:empty=`[[+pagetitle]]`:default=`[[+menutitle]]`]]</h3>
            [[+card_type:is=`brands_card`:then=`[[+submenu:notempty=`[[IncSvg? &file=`icons/toup.svg`]]`]]`]]
        </a>
    </div>
    [[+card_type:is=`brands_card`:then=`
        [[+submenu:notempty=`
            <div class="brand_catalogs__item_menu">
                [[+submenu]]
            </div>
        `]]
    `]]
</div>