<div class="callback_block g_container">
    <div class="callback_block__content">
        <h2 class="h3 title">У вас есть вопросы или нужна консультация специалиста?</h2>
        <p class="subtitle">Оставьте заявку и мы перезвоним Вам!</p>
        [[$Callback?
            &class=`form_block`
            &text_button = `Отправить`
            &field_phone = `1`
            &field_name = `1`
        ]]
    </div>
    <div class="callback_block__img">
        <img data-src="/assets/template/images/callback/man.jpg" alt="" class="lazyload">
    </div>
</div>