<div class="card__item">
    <div id="msProduct" class="product" data-id="[[*id]]">
        <div class="card__item_wrap">
            <div class="card__item_gallery">
                [[!msGallery?
                    &tpl = `Fotorama`
                ]]
            </div>
            <div class="card__item_center">
                <div class="card__item_characters">
                    <p><span>Артикул: </span><span>[[*article]]</span></p>
                    <p><span>Категория: </span><span>[[#[[*parent]].pagetitle]]</span></p>
                    [[msOptionsCustom?
                        &options=`opt_vendor, opt_seria`
                        &tpl=`ProductOptionsText`
                    ]]
                </div>
                <form class="ms2_form card__item_form" method="post">
                    <input type="hidden" name="id" value="[[*id]]">
                    <div class="card__item_form_price">
                        <p class="price">
                            <span class="price_number js_price_charger_target" data-price="[[+price]]" >[[+price]]</span>
                            <span class="price_cur">руб.</span>
                        </p>
                        [[*PriceNotification:notempty=`<p class="price_notification">[[*PriceNotification]]</p>`]]
                    </div>
                    <div class="card__item_form_count">
                        [[$CountForm? &parent_class = `.card__item_form` ]]
                    </div>
                    <div class="card__item_form_button">
                        <button type="submit" class="button buy button_svg" name="ms2_action" value="cart/add">В корзину</button>
                        <a href="#fastbuy_modal" class="card__item_form_fastbuy js_no_preload js_fastbuy_button"  data-id="[[*id]]" data-title="[[*pagetitle]]" title='[[*pagetitle]]'>Купить в 1 клик</a>
                    </div>
                </form>
            </div>

            <div class="card__item_info">
                <div class="card__item_info_block">
                    [[IncSvg? &file=`advantages/1.svg`]]
                    <div class="text">
                        <p>Бесплатный самовывоз </p>
                        <p>Сегодня</p>
                    </div>
                </div>
                <div class="card__item_info_block">
                    [[IncSvg? &file=`advantages/11.svg`]]
                    <div class="text">
                        <p>Доставка по Москве</p>
                        <p>В рабочие дни</p>
                    </div>
                </div>
                <div class="card__item_info_block">
                    [[IncSvg? &file=`advantages/8.svg`]]
                    <div class="text">
                        <p>Доставка по России</p>
                        <p>от 3 до 10 дней</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card__item_content" id="character">
            [[*introtext:notempty=`
                <div class="card__item_content_introtext">
                    <p>[[*introtext]]</p>
                </div>
            `]]
            <div class="tabs">
                <div class="tabs__menu">
                    <ul>
                        [[*Characters:notempty=`
                            <li class="js_tabs_menu" data-id="1">Характеристики</li>
                        `]]
                        [[*content:notempty=`
                            <li class="js_tabs_menu" data-id="2">Описание</li>
                        `]]
                    </ul>
                </div>
                <div class="tabs__items">
                    [[*Characters:notempty=`
                    <div class="tabs__items_item js_tabs_item characters" data-id="1">
                        <h2 class="h3">Технические характеристики <span>[[*pagetitle]]</span></h2>
                        [[*Characters]]
                    </div>
                    `]]
                    [[*content:notempty=`
                    <div class="tabs__items_item js_tabs_item" data-id="2">
                        <h2 class="h3">Описание <span>[[*pagetitle]]</span></h2>
                        [[*content]]
                    </div>
                    `]]
                </div>
            </div>
        </div>
    </div>
</div>

