[[!mFilter2?
    &parents =`[[+id:empty=`[[*id]]`:else=[[+id]]]]`
    &element =`msProducts`
    &limit = `10`
    &idx = `1`
    &includeTVs = `HitsPage, MainPrice, VisiblePrice`
    &toPlaceholders = `filter_`
    &tpls = `ItemLayout_0,ItemLayout_1`
    &leftJoin=`{
        "msCategory": {
        "class": "msCategory",
        "alias":"msCategory",
        "on": "msProduct.parent = msCategory.id"
        }
    }`
    &sortby = `msCategory.menuindex ASC, msProduct.menuindex`


    &filters=`
        msoption|opt_view_lamp,
        msoption|opt_wave_resist,
        msoption|opt_voltage,
        msoption|opt_diameter,
        msoption|opt_diameter_1,
        msoption|opt_diameter_2,
        msoption|opt_length,
        msoption|opt_length_garland,
        msoption|opt_number_bolts,
        msoption|opt_number_switches,
        msoption|opt_number_nests,
        msoption|opt_number_lived,
        msoption|opt_number_contacts,
        msoption|opt_number_seats,
        msoption|opt_number_keys,
        msoption|opt_number_modules,
        msoption|opt_number_poles,
        msoption|opt_number_outlets,
        msoption|opt_number_LEDs_garland,
        msoption|opt_number_phases,
        msoption|opt_package,
        msoption|opt_max_section,
        msoption|opt_material,
        msoption|opt_material_copruse,
        msoption|opt_min_section,
        msoption|opt_modem,
        msoption|opt_power,
        msoption|opt_destination,
        msoption|opt_grounding,
        msoption|opt_light_indicator,
        msoption|opt_tension,
        msoption|opt_voltage_coil,
        msoption|opt_rated_current_transformer,
        msoption|opt_rated_current,
        msoption|opt_rated_current_Ie,
        msoption|opt_rated_current_in,
        msoption|opt_rated_current_I,
        msoption|opt_rated_current_breaker,
        msoption|opt_features,
        msoption|opt_cutoff,
        msoption|opt_cutoff_IDn,
        msoption|opt_polarity,
        msoption|opt_breaking_limit,
        msoption|opt_bulb_transparency,
        msoption|opt_light_flux,
        msoption|opt_properties,
        msoption|opt_power_contacts,
        msoption|opt_degree_protect,
        msoption|opt_type,
        msoption|opt_type_pads,
        msoption|opt_type_PPE,
        msoption|opt_type_accessories_pipes,
        msoption|opt_type_switch,
        msoption|opt_type_garlands,
        msoption|opt_type_call,
        msoption|opt_type_product,
        msoption|opt_type_execution,
        msoption|opt_type_lamp,
        msoption|opt_type_mechanism,
        msoption|opt_type_assembling,
        msoption|opt_type_installation_switch,
        msoption|opt_type_tip,
        msoption|opt_type_screwdriver,
        msoption|opt_type_spotlight,
        msoption|opt_type_connectors,
        msoption|opt_type_outlet,
        msoption|opt_type_lantern,
        msoption|opt_type_glow,
        msoption|opt_type_power_connector,
        msoption|opt_type_metal_braces,
        msoption|opt_type_connector,
        msoption|opt_type_installation,
        msoption|opt_type_base,
        msoption|opt_type_size_lamp,
        msoption|opt_current_thermal_trip,
        msoption|opt_view_angle,
        msoption|opt_trigger,
        msoption|opt_color,
        msoption|opt_color_temperature,
        msoption|opt_rate_rotation,
        msoption|opt_width,
        msoption|opt_kind_lamp,
        msoption|opt_section,
        ms|price:number,
        parent:categories
    `

    &aliases=`
        msoption|opt_view_lamp==view_lamp,
        msoption|opt_wave_resist==wave_resist,
        msoption|opt_voltage==voltage,
        msoption|opt_diameter==diameter,
        msoption|opt_diameter_1==diameter_1,
        msoption|opt_diameter_2==diameter_2,
        msoption|opt_length==length,
        msoption|opt_length_garland==length_garland,
        msoption|opt_number_bolts==number_bolts,
        msoption|opt_number_switches==number_switches,
        msoption|opt_number_nests==number_nests,
        msoption|opt_number_lived==number_lived,
        msoption|opt_number_contacts==number_contacts,
        msoption|opt_number_seats==number_seats,
        msoption|opt_number_keys==number_keys,
        msoption|opt_number_modules==number_modules,
        msoption|opt_number_poles==number_poles,
        msoption|opt_number_outlets==number_outlets,
        msoption|opt_number_LEDs_garland==number_LEDs_garland,
        msoption|opt_number_phases==number_phases,
        msoption|opt_package==package,
        msoption|opt_max_section==max_section,
        msoption|opt_material==material,
        msoption|opt_material_copruse==material_copruse,
        msoption|opt_min_section==min_section,
        msoption|opt_modem==modem,
        msoption|opt_power==power,
        msoption|opt_destination==destination,
        msoption|opt_grounding==grounding,
        msoption|opt_light_indicator==light_indicator,
        msoption|opt_tension==tension,
        msoption|opt_voltage_coil==voltage_coil,
        msoption|opt_rated_current_transformer==rated_current_transformer,
        msoption|opt_rated_current==rated_current,
        msoption|opt_rated_current_Ie==rated_current_Ie,
        msoption|opt_rated_current_in==rated_current_in,
        msoption|opt_rated_current_I==rated_current_I,
        msoption|opt_rated_current_breaker==rated_current_breaker,
        msoption|opt_features==features,
        msoption|opt_cutoff==cutoff,
        msoption|opt_cutoff_IDn==cutoff_IDn,
        msoption|opt_polarity==polarity,
        msoption|opt_breaking_limit==breaking_limit,
        msoption|opt_bulb_transparency==bulb_transparency,
        msoption|opt_light_flux==light_flux,
        msoption|opt_properties==properties,
        msoption|opt_power_contacts==power_contacts,
        msoption|opt_degree_protect==degree_protect,
        msoption|opt_type==type,
        msoption|opt_type_pads==type_pads,
        msoption|opt_type_PPE==type_PPE,
        msoption|opt_type_accessories_pipes==type_accessories_pipes,
        msoption|opt_type_switch==type_switch,
        msoption|opt_type_garlands==type_garlands,
        msoption|opt_type_call==type_call,
        msoption|opt_type_product==type_product,
        msoption|opt_type_execution==type_execution,
        msoption|opt_type_lamp==type_lamp,
        msoption|opt_type_mechanism==type_mechanism,
        msoption|opt_type_assembling==type_assembling,
        msoption|opt_type_installation_switch==type_installation_switch,
        msoption|opt_type_tip==type_tip,
        msoption|opt_type_screwdriver==type_screwdriver,
        msoption|opt_type_spotlight==type_spotlight,
        msoption|opt_type_connectors==type_connectors,
        msoption|opt_type_outlet==type_outlet,
        msoption|opt_type_lantern==type_lantern,
        msoption|opt_type_glow==type_glow,
        msoption|opt_type_power_connector==type_power_connector,
        msoption|opt_type_metal_braces==type_metal_braces,
        msoption|opt_type_connector==type_connector,
        msoption|opt_type_installation==type_installation,
        msoption|opt_type_base==type_base,
        msoption|opt_type_size_lamp==type_size_lamp,
        msoption|opt_current_thermal_trip==current_thermal_trip,
        msoption|opt_view_angle==view_angle,
        msoption|opt_trigger==trigger,
        msoption|opt_color==color,
        msoption|opt_color_temperature==color_temperature,
        msoption|opt_rate_rotation==rate_rotation,
        msoption|opt_width==width,
        msoption|opt_kind_lamp==kind_lamp,
        msoption|opt_section==section,
        resource|parent==parent,
        ms|price==price
    `

    &tplFilter.outer.price=`mFilterSlider`
    &tplFilter.row.price=`mFilterNumber`

    &tplFilter.outer.parent=`mFilterCheckboxOut`
    &tplFilter.row.parent=`mFilterCheckbox`


    &tplPageWrapper = `@INLINE <div class="pagination"><ul>[[+prev]][[+pages]][[+next]]</ul></div>`
    &tplPageFirst = `@INLINE <li class="control prev first"><a class="js_no_preload" href="[[+href]]">Первая</a></li>`
    &tplPageLast = `@INLINE <li class="control next last"><a  class="js_no_preload" href="[[+href]]">Последняя</a></li>`
    &tplPage = `@INLINE <li><a  class="js_no_preload" href="[[+href]]">[[+pageNo]]</a></li>`
    &tplPageActive = `@INLINE <li class="active"><a  class="js_no_preload" href="[[+href]]">[[+pageNo]]</a></li>`
    &tplPagePrev = `@INLINE <li class="control prev"><a class="js_no_preload" href="[[+href]]">[[IncSvg? &file=`icons/arrow.svg`]]</a></li>`
    &tplPageNext = `@INLINE <li class="control next"><a  class="js_no_preload" href="[[+href]]">[[IncSvg? &file=`icons/arrow.svg`]]</a></li>`
    &tplPageNextEmpty = `@INLINE `
    &tplPagePrevEmpty = `@INLINE `
    &tplPageFirstEmpty = `@INLINE `

    &tplFilter.outer.view_lamp=`mFilterCheckboxOut`
    &tplFilter.outer.wave_resist=`mFilterCheckboxOut`
    &tplFilter.outer.voltage=`mFilterCheckboxOut`
    &tplFilter.outer.diameter=`mFilterCheckboxOut`
    &tplFilter.outer.diameter_1=`mFilterCheckboxOut`
    &tplFilter.outer.diameter_2=`mFilterCheckboxOut`
    &tplFilter.outer.length=`mFilterCheckboxOut`
    &tplFilter.outer.length_garland=`mFilterCheckboxOut`
    &tplFilter.outer.number_bolts=`mFilterCheckboxOut`
    &tplFilter.outer.number_switches=`mFilterCheckboxOut`
    &tplFilter.outer.number_nests=`mFilterCheckboxOut`
    &tplFilter.outer.number_lived=`mFilterCheckboxOut`
    &tplFilter.outer.number_contacts=`mFilterCheckboxOut`
    &tplFilter.outer.number_seats=`mFilterCheckboxOut`
    &tplFilter.outer.number_keys=`mFilterCheckboxOut`
    &tplFilter.outer.number_modules=`mFilterCheckboxOut`
    &tplFilter.outer.number_poles=`mFilterCheckboxOut`
    &tplFilter.outer.number_outlets=`mFilterCheckboxOut`
    &tplFilter.outer.number_LEDs_garland=`mFilterCheckboxOut`
    &tplFilter.outer.number_phases=`mFilterCheckboxOut`
    &tplFilter.outer.package=`mFilterCheckboxOut`
    &tplFilter.outer.max_section=`mFilterCheckboxOut`
    &tplFilter.outer.material=`mFilterCheckboxOut`
    &tplFilter.outer.material_copruse=`mFilterCheckboxOut`
    &tplFilter.outer.min_section=`mFilterCheckboxOut`
    &tplFilter.outer.modem=`mFilterCheckboxOut`
    &tplFilter.outer.power=`mFilterCheckboxOut`
    &tplFilter.outer.destination=`mFilterCheckboxOut`
    &tplFilter.outer.grounding=`mFilterCheckboxOut`
    &tplFilter.outer.light_indicator=`mFilterCheckboxOut`
    &tplFilter.outer.tension=`mFilterCheckboxOut`
    &tplFilter.outer.voltage_coil=`mFilterCheckboxOut`
    &tplFilter.outer.rated_current_transformer=`mFilterCheckboxOut`
    &tplFilter.outer.rated_current=`mFilterCheckboxOut`
    &tplFilter.outer.rated_current_Ie=`mFilterCheckboxOut`
    &tplFilter.outer.rated_current_in=`mFilterCheckboxOut`
    &tplFilter.outer.rated_current_I=`mFilterCheckboxOut`
    &tplFilter.outer.rated_current_breaker=`mFilterCheckboxOut`
    &tplFilter.outer.features=`mFilterCheckboxOut`
    &tplFilter.outer.cutoff=`mFilterCheckboxOut`
    &tplFilter.outer.cutoff_IDn=`mFilterCheckboxOut`
    &tplFilter.outer.polarity=`mFilterCheckboxOut`
    &tplFilter.outer.breaking_limit=`mFilterCheckboxOut`
    &tplFilter.outer.bulb_transparency=`mFilterCheckboxOut`
    &tplFilter.outer.light_flux=`mFilterCheckboxOut`
    &tplFilter.outer.properties=`mFilterCheckboxOut`
    &tplFilter.outer.power_contacts=`mFilterCheckboxOut`
    &tplFilter.outer.degree_protect=`mFilterCheckboxOut`
    &tplFilter.outer.type=`mFilterCheckboxOut`
    &tplFilter.outer.type_pads=`mFilterCheckboxOut`
    &tplFilter.outer.type_PPE=`mFilterCheckboxOut`
    &tplFilter.outer.type_accessories_pipes=`mFilterCheckboxOut`
    &tplFilter.outer.type_switch=`mFilterCheckboxOut`
    &tplFilter.outer.type_garlands=`mFilterCheckboxOut`
    &tplFilter.outer.type_call=`mFilterCheckboxOut`
    &tplFilter.outer.type_product=`mFilterCheckboxOut`
    &tplFilter.outer.type_execution=`mFilterCheckboxOut`
    &tplFilter.outer.type_lamp=`mFilterCheckboxOut`
    &tplFilter.outer.type_mechanism=`mFilterCheckboxOut`
    &tplFilter.outer.type_assembling=`mFilterCheckboxOut`
    &tplFilter.outer.type_installation_switch=`mFilterCheckboxOut`
    &tplFilter.outer.type_tip=`mFilterCheckboxOut`
    &tplFilter.outer.type_screwdriver=`mFilterCheckboxOut`
    &tplFilter.outer.type_spotlight=`mFilterCheckboxOut`
    &tplFilter.outer.type_connectors=`mFilterCheckboxOut`
    &tplFilter.outer.type_outlet=`mFilterCheckboxOut`
    &tplFilter.outer.type_lantern=`mFilterCheckboxOut`
    &tplFilter.outer.type_glow=`mFilterCheckboxOut`
    &tplFilter.outer.type_power_connector=`mFilterCheckboxOut`
    &tplFilter.outer.type_metal_braces=`mFilterCheckboxOut`
    &tplFilter.outer.type_connector=`mFilterCheckboxOut`
    &tplFilter.outer.type_installation=`mFilterCheckboxOut`
    &tplFilter.outer.type_base=`mFilterCheckboxOut`
    &tplFilter.outer.type_size_lamp=`mFilterCheckboxOut`
    &tplFilter.outer.current_thermal_trip=`mFilterCheckboxOut`
    &tplFilter.outer.view_angle=`mFilterCheckboxOut`
    &tplFilter.outer.trigger=`mFilterCheckboxOut`
    &tplFilter.outer.color=`mFilterCheckboxOut`
    &tplFilter.outer.color_temperature=`mFilterCheckboxOut`
    &tplFilter.outer.rate_rotation=`mFilterCheckboxOut`
    &tplFilter.outer.width=`mFilterCheckboxOut`
    &tplFilter.outer.kind_lamp=`mFilterCheckboxOut`
    &tplFilter.outer.section=`mFilterCheckboxOut`

    &tplFilter.row.view_lamp=`mFilterCheckbox`
    &tplFilter.row.wave_resist=`mFilterCheckbox`
    &tplFilter.row.voltage=`mFilterCheckbox`
    &tplFilter.row.diameter=`mFilterCheckbox`
    &tplFilter.row.diameter_1=`mFilterCheckbox`
    &tplFilter.row.diameter_2=`mFilterCheckbox`
    &tplFilter.row.length=`mFilterCheckbox`
    &tplFilter.row.length_garland=`mFilterCheckbox`
    &tplFilter.row.number_bolts=`mFilterCheckbox`
    &tplFilter.row.number_switches=`mFilterCheckbox`
    &tplFilter.row.number_nests=`mFilterCheckbox`
    &tplFilter.row.number_lived=`mFilterCheckbox`
    &tplFilter.row.number_contacts=`mFilterCheckbox`
    &tplFilter.row.number_seats=`mFilterCheckbox`
    &tplFilter.row.number_keys=`mFilterCheckbox`
    &tplFilter.row.number_modules=`mFilterCheckbox`
    &tplFilter.row.number_poles=`mFilterCheckbox`
    &tplFilter.row.number_outlets=`mFilterCheckbox`
    &tplFilter.row.number_LEDs_garland=`mFilterCheckbox`
    &tplFilter.row.number_phases=`mFilterCheckbox`
    &tplFilter.row.package=`mFilterCheckbox`
    &tplFilter.row.max_section=`mFilterCheckbox`
    &tplFilter.row.material=`mFilterCheckbox`
    &tplFilter.row.material_copruse=`mFilterCheckbox`
    &tplFilter.row.min_section=`mFilterCheckbox`
    &tplFilter.row.modem=`mFilterCheckbox`
    &tplFilter.row.power=`mFilterCheckbox`
    &tplFilter.row.destination=`mFilterCheckbox`
    &tplFilter.row.grounding=`mFilterCheckbox`
    &tplFilter.row.light_indicator=`mFilterCheckbox`
    &tplFilter.row.tension=`mFilterCheckbox`
    &tplFilter.row.voltage_coil=`mFilterCheckbox`
    &tplFilter.row.rated_current_transformer=`mFilterCheckbox`
    &tplFilter.row.rated_current=`mFilterCheckbox`
    &tplFilter.row.rated_current_Ie=`mFilterCheckbox`
    &tplFilter.row.rated_current_in=`mFilterCheckbox`
    &tplFilter.row.rated_current_I=`mFilterCheckbox`
    &tplFilter.row.rated_current_breaker=`mFilterCheckbox`
    &tplFilter.row.features=`mFilterCheckbox`
    &tplFilter.row.cutoff=`mFilterCheckbox`
    &tplFilter.row.cutoff_IDn=`mFilterCheckbox`
    &tplFilter.row.polarity=`mFilterCheckbox`
    &tplFilter.row.breaking_limit=`mFilterCheckbox`
    &tplFilter.row.bulb_transparency=`mFilterCheckbox`
    &tplFilter.row.light_flux=`mFilterCheckbox`
    &tplFilter.row.properties=`mFilterCheckbox`
    &tplFilter.row.power_contacts=`mFilterCheckbox`
    &tplFilter.row.degree_protect=`mFilterCheckbox`
    &tplFilter.row.type=`mFilterCheckbox`
    &tplFilter.row.type_pads=`mFilterCheckbox`
    &tplFilter.row.type_PPE=`mFilterCheckbox`
    &tplFilter.row.type_accessories_pipes=`mFilterCheckbox`
    &tplFilter.row.type_switch=`mFilterCheckbox`
    &tplFilter.row.type_garlands=`mFilterCheckbox`
    &tplFilter.row.type_call=`mFilterCheckbox`
    &tplFilter.row.type_product=`mFilterCheckbox`
    &tplFilter.row.type_execution=`mFilterCheckbox`
    &tplFilter.row.type_lamp=`mFilterCheckbox`
    &tplFilter.row.type_mechanism=`mFilterCheckbox`
    &tplFilter.row.type_assembling=`mFilterCheckbox`
    &tplFilter.row.type_installation_switch=`mFilterCheckbox`
    &tplFilter.row.type_tip=`mFilterCheckbox`
    &tplFilter.row.type_screwdriver=`mFilterCheckbox`
    &tplFilter.row.type_spotlight=`mFilterCheckbox`
    &tplFilter.row.type_connectors=`mFilterCheckbox`
    &tplFilter.row.type_outlet=`mFilterCheckbox`
    &tplFilter.row.type_lantern=`mFilterCheckbox`
    &tplFilter.row.type_glow=`mFilterCheckbox`
    &tplFilter.row.type_power_connector=`mFilterCheckbox`
    &tplFilter.row.type_metal_braces=`mFilterCheckbox`
    &tplFilter.row.type_connector=`mFilterCheckbox`
    &tplFilter.row.type_installation=`mFilterCheckbox`
    &tplFilter.row.type_base=`mFilterCheckbox`
    &tplFilter.row.type_size_lamp=`mFilterCheckbox`
    &tplFilter.row.current_thermal_trip=`mFilterCheckbox`
    &tplFilter.row.view_angle=`mFilterCheckbox`
    &tplFilter.row.trigger=`mFilterCheckbox`
    &tplFilter.row.color=`mFilterCheckbox`
    &tplFilter.row.color_temperature=`mFilterCheckbox`
    &tplFilter.row.rate_rotation=`mFilterCheckbox`
    &tplFilter.row.width=`mFilterCheckbox`
    &tplFilter.row.kind_lamp=`mFilterCheckbox`
    &tplFilter.row.section=`mFilterCheckbox`
]]