<div class="contact_block [[+full:is=`1`:then=`full_map`]]" id="contact_block">
    <div class="contact_block__content">
        <div class="container">
            <div class="contact_block__content_text">
                <h2>Контакты</h2>
                <p class="js_contact_map" data-address="г. Санкт-Петербург, Кондратьевский пр., 2к15">[[#1.SiteAddress]]</p>
                <div class="link_wrap">
                    [[#1.SitePhone]]
                    [[#1.SiteEmail]]
                </div>
                <p>Понедельник - пятница с 9:00 до 17:00</p>
                <a href="#" class="button">Дополнительная информация</a>
            </div>
        </div>
    </div>
    <div class="contact_block__map">
        <div id="map"></div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=c5003c7f-b996-400e-ae37-865113e667bf&lang=ru_RU"></script>
<script src="/assets/template/js/map.js"></script>