<div class="contact_block [[+full:is=`1`:then=`full_map`]]" id="contact_block">
    <div class="contact_block__content">
        <div class="container">
            <div class="contact_block__content_text">
                <h2>Контакты</h2>
                <p class="subtitle">Офис продаж и склад</p>
                <p>[[#1.SiteAddress]]</p>
                <div class="phone_block">
                    [[#1.SitePhone]]
                </div>
                [[#1.WorkTime]]
                <a href="/[[~157]]" class="button">Дополнительная информация</a>
            </div>
        </div>
    </div>
    <div class="contact_block__map js_contact_map" data-address="[[#1.SiteAddress]]">
        <div id="map"></div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=c5003c7f-b996-400e-ae37-865113e667bf&lang=ru_RU"></script>
<script src="/assets/template/js/map.js"></script>