<div class="close_button mfp-close"></div>
<div class="fastbuy">
    <div class="fastbuy_product">
        <div class="fastbuy_product_image">
            <a href="/[[#[[+id]].uri]]" title="[[+pagetitle]]">
                <img data-src="[[#[[+id]].image]]" alt="[[+pagetitle]]" class="lazyload">
            </a>
        </div>
        <div class="fastbuy_product_title">
            <h2 class="h3">[[+pagetitle]]</h2>
        </div>
    </div>
    <div class="fastbuy_form-wrap">
        <p class="h3">Данные заказа</p>
        <form action="/[[~[[+id]]]]" method="POST" class="fastbuy_form form">
            <input type="text" hidden  name="pagetitle" value="[[+pagetitle:htmlent]]">
            <input type="text" hidden  name="id" value="[[+id]]">
            <input type="text" hidden  name="href" value="[[~[[+id]]? &scheme=`full`]]">
            <input type="text" hidden  name="user" placeholder="">
            <input type="text" hidden  name="username" placeholder="">
            <input type="radio" name="delivery" value="3" id="delivery_1"  class="" checked="checked"  data-index="1" hidden>

            <div class="form_group">
                <input type="text" name="phone" class="form_group_input" placeholder="Ваш телефон">
            </div>

            <button type="submit" class="button form_button">Заказать</button>
        </form>
        <p class="text">Мы свяжемся с вами в ближайшее время</p>
    </div>
</div>
