<footer>
    <div class="footer g_container">
        <div class="footer_left">
            <div class="footer_left__logo">
                <a href="/">
                    [[IncSvg? &file=`logo.svg`]]
                </a>
            </div>
            <div class="footer_left__info">
                <p>[[#1.SiteAddress]]</p>
            </div>
            <div class="footer_left__copyright">
                <p>© 2019 все права защищены. Данные, опубликованные на этом сайте не являются публичной офертой. Пользовательское соглашение</p>
            </div>
        </div>
        <div class="footer_center">
            <nav class="footer_center__menu">
                [[pdoMenu?
                    &parents=`0`
                    &resources=`1366,1367,154,155,156,157`
                ]]
            </nav>
        </div>
        <div class="footer_right">
            <div class="footer_right__contact">
                [[#1.SitePhone]]
                [[#1.SitePhone2]]
                [[#1.SiteEmail]]
            </div>
            <div class="footer_right__payment">
                <p>Принимаем к оплате</p>
                [[IncSvg? &file=`icons/payment/mastercard.svg`]]
                [[IncSvg? &file=`icons/payment/visa.svg`]]
            </div>
            <div class="footer_right__social">
                [[$SocialBlock]]
            </div>
        </div>
    </div>
</footer>

