<div id="msCart">

    {$_modx->lexicon->load('minishop2:product')}

    <div class="container g_flex">
        <div class="getorder__title">
            <h1>Ваш заказ оформлен</h1>
            <p>Наш менеджер свяжется с Вами в ближайшее время</p>
        </div>
        <div class="getorder__image">
            [[!IncSvg? &file=`icons/check.svg`]]
        </div>
        <div class="getorder__product">
            {foreach $products as $product}
            <div class="item_layout_2">
                <div class="item_layout_2__title">
                    <a href="{$product.id | url}" title='[[+pagetitle]]'><h2>{$product.pagetitle}</h2></a>
                </div>
                <div class="item_layout_2__img">
                    <a href="{$product.id | url}" title='[[+pagetitle]]'><img data-src="{$product.image}" alt="{$product.pagetitle}" class="lazyload"></a>
                </div>
                <div class="getorder__product_text">
                    <p class="article"><span>Артикул:</span> <span>{$product.article}</span></p>
                    <div class="allprice">
                        <p><span>Количество:</span> {$product.count} шт.</p>
                        <p><span>Стоимость:</span> {$product.price} руб.</p>
                        <p><span>Итого:</span> <span class="product_price">{$product.count * $product.price}</span> руб.</p>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        <div class="getorder__info">
            <h2 class="h3">Данные заказа</h2>
            [[+address.receiver:notempty=`<p>Заказчик: <span>[[+address.receiver]]</span></p>`]]
            [[+address.phone:notempty=`<p>Телефон заказчика: <span>[[+address.phone]]</span></p>`]]
            [[+delivery.id:is=`1`:then=`
                <h3 class="h4">Самовывоз</h3>
                <p>Адрес магазина: <span>[[#1.SiteAddress]]</span></p>
            `]]
            [[+delivery.id:is=`2`:then=`
                <h3 class="h4">Доставка</h3>
                [[+address.nameShipping:notempty=`<p>Получатель: <span>[[+address.nameShipping]]</span></p>`]]
                [[+address.phoneShipping:notempty=`<p>Телефон получателя: <span>[[+address.phoneShipping]]</span></p>`]]
                [[+address.dateShipping:notempty=`<p>Дата и время доставки: <span>[[+address.dateShipping]]</span></p>`]]
                [[+address.addressShipping:notempty=`<p>Адрес доставки: <span>[[+address.addressShipping]]</span></p>`]]
            `]]
        </div>
        <div class="getorder__total">
            <h2 class="h3">Общая стоимость</h2>
            <p>Товаров в корзине: <span class="ms2_total_count">{$total.cart_count}</span> шт.</p>
            <p>На сумму: <span class="ms2_total_cost">{$total.cost}</span> руб.</p>
        </div>
    </div>
    [[$CatalogsBlock? &parent = `1367`]]
</div>

