<div class="item_layout_1">
    <div class="item_layout_1__title">
        <a href="/[[+uri]]" title='[[+pagetitle]]'><h4>[[+pagetitle]]</h4></a>
    </div>
    <div class="item_layout_1__img">
        <a href="/[[+uri]]" title='[[+pagetitle]]'><img src="[[+image:phpthumbon=`w=210&h=210&zc=1`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]" class="lazyload"></a>
    </div>
    <div class="g_flex g_flex_j_between g_flex_a_end">
        <div class="item_layout_1__price">
            <p class="price">
                <span class="price_number js_price_charger_target" data-price="[[+price]]">[[+price]]</span>
                <span class="price_cur">руб.</span>
            </p>
            [[+PriceNotification:notempty=`<p class="price_notification">[[+PriceNotification]]</p>`]]
        </div>
        <div class="item_layout_1__link">
            <a href="/[[+uri]]">Показать</a>
        </div>
    </div>
</div>