<div class="item_layout_2">
    <div class="item_layout_2__title">
        <a href="/[[+uri]]" title='[[+pagetitle]]'><h2>[[+pagetitle]]</h2></a>
    </div>
    <div class="item_layout_2__img">
        <a href="/[[+uri]]" title='[[+pagetitle]]'><img data-src="[[+image:phpthumbof=`w=210&h=210&far=C&q=90`]]" alt="[[+pagetitle]]" title="[[+pagetitle]]" class="lazyload"></a>
    </div>
    <form class="item_layout_2__form js_parent_price_target ms2_form js_options_target" method="post">
        <input type="hidden" name="id" value="[[+id]]">
        <div class="item_layout_2__form_price">
            <p class="price">
                <span class="price_number js_price_charger_target" data-price="[[+price]]">[[+price]]</span>
                <span class="price_cur">руб.</span>
            </p>
            [[+PriceNotification:notempty=`<p class="price_notification">[[+PriceNotification]]</p>`]]
        </div>
        <a href="#fastbuy_modal" class="item_layout_2__form_fastbuy js_no_preload js_fastbuy_button"  data-id="[[+id]]" data-title="[[+pagetitle]]" title="[[+pagetitle]]">Купить в 1 клик</a>
        <div class="item_layout_2__form_form_count">
            [[$CountForm? &parent_class = `.js_parent_price_target` ]]
        </div>
        <a href="#" class="item_layout_2__form_options js_no_preload js_options_button" data-parent=".item_layout_2" data-id="[[+id]]" data-title="[[+pagetitle]]">Характеристики</a>
        <div class="item_layout_2__form_button_wrap">
            <button type="submit" class="item_layout_2__form_buy button" name="ms2_action" value="cart/add">В корзину</button>
        </div>
    </form>
    <div class="item_layout_2__properties">
        [[!$OptionsItem? &id=`[[+id]]` &limit=`100`]]
    </div>
</div>