<div class="slider g_container">
    <div class="slider_wrap">
        <div class="slider_item">
            <p class="title h1">Вся электрика оптом и в розницу!</p>
            <p class="text">ООО «БЕЛКАБЕЛЬ» является поставщиком оригинальной кабельной продукции для дома и производства, электротоваров, измерительного оборудования, автоматических выключателей, светодиодных ламп, инструмента и пр.</p>
        </div>
        <div class="slider_item">
            <p class="title h1">Вся электрика оптом и в розницу!</p>
            <p class="text">ООО «БЕЛКАБЕЛЬ» является поставщиком оригинальной кабельной продукции для дома и производства, электротоваров, измерительного оборудования, автоматических выключателей, светодиодных ламп, инструмента и пр.</p>
        </div>
        <div class="slider_item">
            <p class="title h1">Вся электрика оптом и в розницу!</p>
            <p class="text">ООО «БЕЛКАБЕЛЬ» является поставщиком оригинальной кабельной продукции для дома и производства, электротоваров, измерительного оборудования, автоматических выключателей, светодиодных ламп, инструмента и пр.</p>
        </div>
    </div>
    <div class="slider_button">
        <a href="/[[~1367]]" class="button button_white">В каталог товаров</a>
    </div>
    <div class="slider_dots"></div>
</div>