<div class="slider g_container">
    <div class="slider_wrap">
        <div class="slider_item">
            <p class="title h1">ВСЯ ЭЛЕКТРИКА ДЛЯ ДОМА И ПРОИЗВОДСТВА</p>
            <p class="text">Мы поставляем только оригинальные электротовары, электрику оптом, автоматические выключатели, светодиодные лампы, электроустановочное оборудование и кабельную продукцию по лучшим ценам!</p>
            <a href="[[~1367]]" class="button button_white">В каталог товаров</a>
        </div>
        <div class="slider_item">
            <p class="title h1">ВСЯ ЭЛЕКТРИКА ДЛЯ ДОМА И ПРОИЗВОДСТВА1</p>
            <p class="text">Мы поставляем только оригинальные электротовары, электрику оптом, автоматические выключатели, светодиодные лампы, электроустановочное оборудование и кабельную продукцию по лучшим ценам!</p>
            <a href="[[~1367]]" class="button button_white">В каталог товаров</a>
        </div>
        <div class="slider_item">
            <p class="title h1">ВСЯ ЭЛЕКТРИКА ДЛЯ ДОМА И ПРОИЗВОДСТВА2</p>
            <p class="text">Мы поставляем только оригинальные электротовары, электрику оптом, автоматические выключатели, светодиодные лампы, электроустановочное оборудование и кабельную продукцию по лучшим ценам!</p>
            <a href="[[~1367]]" class="button button_white">В каталог товаров</a>
        </div>
    </div>
    <div class="slider_dots"></div>
</div>