<div class="menu__nav_sub_item">
    <div class="menu__nav_sub_item_img">
        <a href="/[[+uri]]" title='[[+pagetitle]]'><img src="[[+image]]" alt="[[+pagetitle]]"></a>
    </div>
    <div class="menu__nav_sub_item_content">
        <div class="menu__nav_sub_item_content_title">
            <a href="/[[+uri]]" title='[[+pagetitle]]'>[[+pagetitle]]</a>
        </div>
        <div class="menu__nav_sub_item_content_article">
            <p>Код [[+article]]</p>
        </div>
        <div class="menu__nav_sub_item_content_link">
            <a class="button" href="/[[+uri]]" title='[[+pagetitle]]'>Подробнее</a>
        </div>
    </div>
</div>