.brands {
  margin-bottom: 40px;

  &_wrap {

  }

  &__items {
    .flex();
    justify-content: space-between;

    &_item {
      .cols(3);
      .animation();
      padding: 10px;
      text-align: center;

      a {
        color: @c_black;
        text-transform: uppercase;
        margin-top: 10px;
        display: block;

        p {
          font-size: @s_text_1;
        }
      }

      &:hover {
        box-shadow: @shadow;
      }
    }
  }
}