.brands {
  margin-bottom: 40px;

  &_wrap {

  }

  &__menu {

    ul {
      background: @c_submain;

      li {
        position: relative;
        margin: 0;

        a {
          .animation();
          color: @c_main;
          font-family: @f_Monserat_b;
          padding: 10px 20px;
          display: block;
        }

        ul {
          border-left: 10px solid @c_main;
          position: absolute;
          width: 200%;
          left:100%;
          top: 0;
          display: none;
          opacity: 0;
          animation: fadeIn 0.4s ease 1 forwards;

          a {
            font-size: @s_text_1;
            padding: 5px 20px;
            display: block;
          }
        }

        &:hover {

          > a  {
            color: @c_white;
            background: @c_main;
          }

          ul {
            display: block;
          }
        }
      }
    }
  }

  &__items {
    .flex();
    justify-content: space-between;

    &_item {
      .cols(3);
      .animation();
      padding: 10px;
      text-align: center;

      a {
        color: @c_black;
        text-transform: uppercase;
        margin-top: 10px;
        display: block;

        p {
          font-size: @s_text_1;
        }
      }

      &:hover {
        box-shadow: @shadow;
      }
    }
  }
}