.card {

  &__title {
    .cols(11.25);

    h1 {
      text-transform: none;
      margin-bottom: 20px;
    }
  }

  &__item {

    &_wrap {
      .flex();
      justify-content: space-between;
    }

    &_gallery {
      .cols(5);
      border: 1px solid @c_submain;
    }

    &_form {
      .cols(6);
      background: @c_submain;
      padding: 20px;
    }

    &_info {
      .cols(4.5);
    }
  }
}