.contact_block {
  .flex();
  justify-content: space-between;
  background: @c_submain;
  align-items: center;
  padding-top: 50px;
  position: relative;

  &.full_map {

    .contact_block__map {
      .cols(16);
    }
    .contact_block__content {
      display: none;
    }
  }

  &__map {
    .cols(9.5);
    overflow: hidden;
    border-left: 10px solid @c_main;

    @media @smMinus {
      .cols(16);
      order: 1;
    }

    #map {
      height: 700px;

      @media @smMinus {
        height: 300px;
      }
    }
  }

  &__content {
    .cols(6);
    overflow: hidden;

    @media @smMinus {
      .cols(16);
      margin: 20px 0;
    }

    .container {
      transform: translateX(-50%) translateY(50%);
      position: absolute;
      left: 50%;
      bottom: 50%;

      @media @smMinus {
        transform: none;
      }
    }

    &_text {
      .cols(5);
      margin: 0 auto 0 0;

      @media @smMinus {
        .cols(16);
        .colsOfR(0);
      }

      .subtitle {
        font-family: @f_Monserat_b;
      }

      h2 {
        color: @c_main;
        margin: 0 0 100px;
      }

      p {
        font-size: @s_text_1;
      }

      .phone_block {
        margin: 30px 0 50px;

        @media @smMinus {
          margin: 10px 0 20px;
        }

        a {
          color: @c_main;
          font-size: @s_text_1;
          font-family: @f_Monserat_b;
          display: block;
          margin-bottom: 10px;
        }
      }

      .button {
        margin-top: 30px;
      }
    }
  }
}