.contact_block {
  .flex();
  justify-content: space-between;
  background: @c_submain;
  align-items: center;
  padding-top: 50px;
  position: relative;

  @media @sm_m {
    padding-top: 0;
    border-left: 10px solid @c_main;
  }

  &.full_map {
    padding-top: 0;

    .contact_block__map {
      .cols(16);
      border-left: 0;
    }
    .contact_block__content {
      display: none;
    }
  }

  &__map {
    .cols(9.5);
    overflow: hidden;
    border-left: 10px solid @c_main;

    @media @sm_m {
      .cols(16);
      order: 1;
      border: 0;
    }

    #map {
      height: 600px;

      @media @lg {
        height: 500px;
      }
      @media @md {
        height: 400px;
      }
      @media @sm_m {
        height: 300px;
      }
    }
  }

  &__content {
    .cols(6);
    overflow: hidden;

    @media @sm_m {
      .cols(16);
      margin: 20px 0;
    }

    .container {
      transform: translateX(-50%) translateY(50%);
      position: absolute;
      left: 50%;
      bottom: 50%;

      @media @sm_m {
        transform: none;
        position: relative;
        left: 0;
        bottom: 0;
      }
    }

    &_text {
      .cols(5);
      margin: 0 auto 0 0;

      @media @sm_m {
        .cols(16);
        .colsOfR(0);
      }

      .subtitle {
        font-family: @f_Monserat_b;
      }

      h2 {
        color: @c_main;
        margin: 0 0 70px;

        @media @lg {
          margin: 0 0 50px;
        }
        @media @md {
          margin: 0 0 30px;
        }
        @media @sm_m {
          margin: 0 0 20px;
        }
      }

      .phone_block {
        margin: 30px 0 50px;

        @media @lg_m {
          margin: 20px 0;
        }
        @media @sm_m {
          margin: 10px 0;
        }

        a {
          color: @c_main;
          font-size: @s_text_2;
          font-family: @f_Monserat_b;
          display: block;
          margin-bottom: 10px;

          @media @sm_m {
            font-size: @s_text_1;
            margin-bottom: 5px;
          }
        }
      }

      .button {
        margin-top: 30px;
      }
    }
  }
}