.breadcrumb {
  .flex();
  margin: 10px 0 20px;

  &.short {
    @media @mdMinus {
      width: ~'calc(100% - 115px)';
    }
    @media @xs {
      width: ~'calc(100% - 100px)';
    }
  }


  li {
    font-size: @s_text_0;
    margin: 0;

    @media @smMinus {
      font-size: 7.4pt;
    }

    a {
      .animation();
      color: @c_black;

      &:hover {
        color: @c_main;
      }
    }

    &.wrapper {
     margin: 0 5px;

      &:last-child {
        display: none;
      }
    }
  }

  li.active {
    color: @c_main;
  }
}