.fastbuy_modal {
  padding: 0 !important;

  & .fastbuy {
    .flex();
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;

    @media @xs {
      padding: 10px;
    }

    &_product {
      .cols(7);
      border-right: 1px solid @c_black;
      padding-right: 10px;
      margin-right: 10px;

      @media @xs {
        .cols(16);
        border: none;
        text-align: center;
        margin: 0;
        padding: 0;
      }


      &_image {

        & img {
          max-height: 130px;
        }
      }

      &_title {

        p {
          font-size: @s_text_1;
          margin: 10px 0;

          &.p_small {
            font-size: @s_text_0;
          }
        }
      }
    }

    &_form-wrap {
      .cols(6.5);

      @media @sm {
        .cols(8);
      }
      @media @xs{
        .cols(16);
        padding: 20px;
      }

      .price {
        .cols(16);
        color: @c_main;
        margin: 0;
        text-align: center;

        &_number {
          font-family: @f_Monserat_b;
        }

        &_cur {
          font-size: @s_text_1;
        }

        &_total  {
          .cols(16);
          font-family: @f_Monserat_b;
          font-size: @s_text_0;
          color: @c_gray_d;
          margin: 0;
          text-align: center;
        }
      }

      p {

        &.text {
          font-size: @s_text_0;
          text-align: center;
        }
      }

      .h3 {
        width: 100%;
        margin: 0 0 20px;
        text-align: center;
      }

      .form__count {
        margin: 10px auto;
      }
    }

    &_form {
      .flex();
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px;

      @media @xs {
        margin: 0 auto 20px;
      }

      .form_group {
        width: 100%;
        margin: 10px 0;

        input {
          .animation();

          &:focus {
            border-radius: 3px !important;
          }
        }
      }

      .button {
        margin: 0 auto;
      }
    }
  }
}