#msCart {

  .getorder {

    &__title {
      .cols(16);
      text-align: center;
    }

    &__image {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      max-height: 100px;

      svg {
        height: 100%;
      }
    }

    &__product {
      .flex();
      .cols(16);
      justify-content: space-between;
      border-bottom: 1px solid @c_gray_d;

      &_image {
        .cols(6);
        .colsOfR(0.5);

        img {
          max-height: 200px;
        }
      }

      &_text {
        .cols(16);


        .article {
          color: @c_black;
          font-size: @s_text_0;

          span:first-child {
            font-family: @f_Monserat_b;
          }
        }

        .allprice {
          margin-bottom: 20px;

          p {
            color: @c_main;
            font-size: @s_text_1;
            margin-bottom: 4px;

            span:first-child {
              font-family: @f_Monserat_b;
            }
          }
        }
      }
    }

    &__info {
      .cols(8);
      border-bottom: 1px dashed @c_gray_d;

      @media @sm_m {
        .cols(16);
      }

      p {
        color: @c_black;

        @media @sm_m {
          font-size: @s_text_0;
        }
      }
    }

    &__total {
      .cols(8);
      border-bottom: 1px dashed @c_gray_d;
      padding-bottom: 20px;

      @media @sm_m {
        .cols(16);
      }

      h2 {
        text-align: right;

        @media @sm_m {
          text-align: left;
        }
      }

      p {
        text-align: right;

        @media @sm_m {
          text-align: left;
        }

        span {
          color: @c_black;
          font-size: @s_title_2;

          @media @sm_m {
            font-size: @s_title_4;
          }
        }
      }
    }





  }
}