

.jGrowl {
  z-index: 9999;
  color: #fff;
  font-size: 12px;
  position: fixed;
  width: 100%;
  bottom: 0;

  &-notification {
    background-color: #000;
    opacity: .9;
    zoom: 0;
    margin: 0;
    text-align: left;
    display: none;
    border-radius: 0;
    width: 100%;
    min-height: 20px;
    padding: 0;
  }

  &-close {
    background-color: transparent;
    color: inherit;
    border: none;
    z-index: 99;
    float: right;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
  }

  &-closer {
    font-size: @s_text_0;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    border-radius: 0;
    background-color: #000;
    opacity: .9;
    zoom:1;
    display: none;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
  }

  &-message {
    font-size: @s_text_0;
    color: @c_white;
    text-align: center;
    line-height: 2em;
    font-weight: 100;
    padding: 0;
  }

  &-close {
    margin: 5px;
    position: absolute;
    right: 0;
  }
  .message-success {
    background-color: #669933 !important;
  }
  .message-system {
    background-color: #005192 !important;
  }
  .message-error {
    background-color: @c_main;
  }
  .ms2-message-error {
    background-color: @c_main;
  }
  .jGrowl.top-right {
    left: 0;
    top: auto !important;
    bottom: 0 !important;
  }
}


