.vertical_menu {

  &.g_cols_2 {

    ul {

      li {
        @media @md_m {
          .cols(7.5);
        }
        @media @xs {
          .cols(14);
        }
        ul {
          li {
            .cols(16);
            ul {
              li {
                .cols(16);
              }
            }
          }
        }
      }
    }
  }

  &.g_cols_3 {

    ul {

      li {
        @media @md {
          .cols(5.25);
        }
        @media @sm {
          .cols(7.5);
        }
        @media @xs {
          .cols(14);
        }
        ul {
          li {
            .cols(16);
            ul {
              li {
                .cols(16);
              }
            }
          }
        }
      }
    }
  }

  ul {
    background: @c_submain;

    @media @md_m {
      .flex();
    }

    li {
      position: relative;
      margin: 0;

      a {
        .animation();
        .flex();
        color: @c_main;
        font-family: @f_Monserat_b;
        font-size: @s_text_1;
        padding: 10px 10px 10px 30px;
        text-transform: uppercase;
        position: relative;

        @media @lg_m {
          font-size: @s_text_1;
        }
        @media @md_m {
          padding: 5px 10px 5px 30px;
        }
        @media @sm_m {
          font-size: @s_text_0;
        }

        .menu_toggle {
          .flex();
          width: 30px;
          text-align: center;
          position: absolute;
          left: 0;
          height: 100%;
          top: 0;
          align-items: center;
          justify-content: center;
        }
      }

      ul {
        border-left: 10px solid @c_main;
        display: none;
        z-index: 100;

        li {
          .cols(16);

          a {
            font-size: @s_text_0;
            font-family: @f_Monserat;
            padding: 5px 10px 5px 30px;
          }

          ul {
            border: 0;

            li {
              .cols(16);

              a {
                color: @c_black;
                font-size: @s_text_0;
                font-family: @f_Monserat_b;
                padding-left: 40px;

                @media @sm_m {
                  font-family: @f_Monserat;
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }

      &:hover {

        > a  {
          color: @c_white;
          background: @c_main;
        }
      }
    }
  }
}