.fontLoad (@name, @file) {
	font-family: @name;
	src: url('../fonts/@{file}.eot');
	src:
					url('../fonts/@{file}.woff') format('woff'),
					url('../fonts/@{file}.ttf') format('truetype'),
					url('../fonts/@{file}.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

.flex (@wrap: wrap) {
	display: flex;
	flex-wrap: @wrap;
}

.cols(@numb) {
	width: 6.25% * @numb;
}
.colsOf(@numb) {
	margin-left: 6.25% * @numb;
}
.colsOfR(@numb) {
	margin-right: 6.25% * @numb;
}

.f_col(@size, @resize, @col) {
	flex: @size @resize (6.25% * @col);
}

.g_padding(@top, @bottom) {
	padding-top: @top;
	padding-bottom: @bottom;
}

.animation (@animation: 0.4s, @prop: all, @ease: linear) {
   transition: @prop @animation @ease;
}

.animationKey (@key, @time, @ease, @count) {
	animation:@key @time @ease @count;
}

.makeRandom(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum: @base + @min;
}

