.fontLoad (@name, @file) {
	font-family: @name;
	src: url('../fonts/@{file}.eot');
	src:
			url('../fonts/@{file}.woff') format('woff'),
			url('../fonts/@{file}.ttf') format('truetype'),
			url('../fonts/@{file}.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

.animation (@animation: 0.4s, @prop: all, @ease: linear) {
	transition: @prop @animation @ease;
}
.animationKey (@key, @time, @ease, @count) {
	animation:@key @time @ease @count;
}

.g_padding(@top, @bottom) {
	padding-top: @top;
	padding-bottom: @bottom;
}

.flex (@wrap: wrap) {
	display: flex;
	flex-wrap: @wrap;
}

@col_size: 6.25%;
.f_col(@size, @resize, @col) {
	flex: @size @resize (@col_size * @col);
}
.cols(@numb) {
	width: @col_size * @numb;
}
.colsOf(@numb) {
	margin-left: @col_size * @numb;
}
.colsOfR(@numb) {
	margin-right: @col_size * @numb;
}

