@import "arg";

html {
    height: 101%;
}

.preloader  {
    transition: all 0.4s;
    position: fixed;
    z-index: 99999;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @c_submain url(/assets/template/images/logo.svg) center center no-repeat;
    background-size: 300px;
}