.shipping {

  .h1 {
    .cols(16);
    color: @c_main;
    text-align: center;
  }

  .shipping_block {
    .flex();
    .g_padding(0, 60px);
    justify-content: space-between;

    .advantages_item {
      padding: 20px 10px;
    }
  }

  .payment_block {
    .g_padding(60px, 60px);
    background: @c_submain;
  }
}


