.slider {
	.flex();
	.g_padding(10px, 10px);
	min-height: 590px;
	background: url('/assets/template/images/bg/slider.jpg');
	background-position: center;
	align-items: center;
	position: relative;

	@media @mdMinus {
		background-position: left;
		min-height: 450px;
	}
	@media @smMinus {
		min-height: 350px;
	}

	&_wrap {
		.cols(8);
		margin-top: auto;

		@media @mdMinus {
			.cols(16);
		}
	}

	&_button {
		.cols(16);
		margin-bottom: auto;
	}

	&_item {

		.title,
		.text {
			color: @c_white;
		}

		.text {
			margin: 20px 0 40px;

			@media @smMinus {
				margin: 20px 0;
			}
		}
	}

	&_dots {
		position: absolute;
		left: 52%;
		bottom: 30px;

		@media @smMinus {
			position: relative;
			left: 0;
			bottom: 0;
			margin: 10px auto 0;
		}

		ul {
			.flex();

			li {
				margin: 0 5px;

				&.slick-active {

					a {
						background: @c_main;
					}
				}

				a {
					background: @c_white;
					border: 2px solid @c_white;
					width: 14px;
					height: 14px;
					display: block;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
	}
}