[[$StartPage]]
[[$Header]]
<main>
    <div class="error_404">
        <div class="container">
            [[$Crumbs]]
            <div class="error_404__content">
                <div class="error_404__content_img">
                    <img src="/assets/template/images/404.jpg" alt="">
                </div>
                <div class="error_404__content_text">
                    <h1 class="h3">Упс. Такой страницы не существует</h1>
                    <p>Воспользуйтесь каталогом наших <br> товаров для выбора:</p>
                    <a href="/[[~1366]]" class="button button_orange">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</main>
[[$Footer]]
[[$StopPage]]

