[[$StartPage]]
[[$Header]]
<main>
    <div class="brands">
        <div class="container">
            <div class="brands_wrap g_wrap">
                <div class="g_left">
                    <div class="vertical_menu">
                        [[pdoMenu?
                            &parents = `1366`
                            &level = `3`
                            &includeTVs = `CatalogImg`
                            &tplParentRow = `@INLINE <li class="submenu "><a href="[[+link]]" class="js_no_preload level_[[+level]]"><span class="js_menu_toggle menu_toggle">+</span><span class="menu_title">[[+menutitle]]</span></a>[[+wrapper]]</li>`
                        ]]
                    </div>
                </div>
                <div class="g_right">
                    [[$Crumbs]]
                    <img src="[[*CatalogImg]]" alt="[[*pagetitle]]">
                    [[*content]]
                    <h2>Продукция</h2>
                    [[$BrandCatalogs]]
                </div>
            </div>
        </div>
    </div>
    [[$CallbackFollowing]]
</main>
[[$Footer]]
[[$StopPage]]