[[$StartPage]]
[[$Header]]
<main>
    <div class="contacts">
        <div class="container">
            [[$Crumbs]]
            <h1>[[*longtitle]]</h1>
        </div>
        [[$ContactBlock?
            &full = `1`
        ]]
        <div class="container">
            <div class="contacts_wrap">
                <div class="contacts_item contact">
                    <h2 class="subtitle h4">Офис продаж и склад</h2>
                    <p>[[#1.SiteAddress]]</p>
                    <div class="phone_block">
                        [[#1.SitePhone]]
                    </div>
                    [[#1.WorkTime]]
                </div>
                <div class="contacts_item ur_info">
                    <h2 class="subtitle h4">Юридическая информация</h2>
                    [[*content]]
                </div>
                [[*DopsInfo:notempty=`
                    <div class="contacts_item dops_info">
                        <h2 class="subtitle h4">Дополнительная информация</h2>
                        [[*DopsInfo]]
                    </div>
                `]]
            </div>
        </div>
    </div>
</main>
[[$Footer]]
[[$StopPage]]
