[[$StartPage]]
[[$Header]]
<main>
    <div class="garant">
        <div class="container">
            [[$Crumbs]]
            <h1>[[*longtitle]]</h1>

            <div class="garant__sertificate">
                [[IncSvg? &file=`advantages/2.svg`]]
                <p>Компания «БЕЛКАБЕЛЬ» является сертифицированным поставщиком оборудования всех ведущих электротехнических брендов, что исключает возможность купить у нас китайскую подделку.</p>
            </div>

            <div class="garant__broken_block">
                <h2>Что делать, если обнаружен брак?</h2>
                <div class="garant__broken_block__item">
                    <div class="count">1</div>
                    <p>Отнеситесь к случившемуся спокойно. Правда такова, что абсолютно надежных производителей не бывает, и даже в продукции известнейших брендов бывает брак.</p>
                </div>
                <div class="garant__broken_block__item">
                    <div class="count">2</div>
                    <p>Помните, на вашей стороне закон РФ «О защите прав потребителей», и все возникшие проблемы мы решаем согласно букве этого закона. Мы уважаем закон. Нашей целью не является вас обмануть или продать брак.</p>
                </div>
                <div class="garant__broken_block__item">
                    <div class="count">3</div>
                    <p>Обратитесь через форму обратной связи и сообщите нам о случившемся.</p>
                </div>
            </div>

            <div class="callback broken">
                <div class="callback__wrap broken__wrap">
                    <h3>Форма связи</h3>
                    <div class="callback__error"></div>
                    <form action="POST" class="form callback__form" id="callback__form_broken">
                        <div class="form_left">
                            <div class="form_group">
                                <input type="text" name="name" class="form_group_input callback__form_group_input_name" placeholder="Ваше имя">
                            </div>
                            <div class="form_group">
                                <textarea type="text" name="info" class="form_group_input callback__form_group_input_name" placeholder="Дополнительная информация"></textarea>
                            </div>
                        </div>
                        <div class="form_right">
                            <div class="form_group">
                                <input type="text" name="number" class="form_group_input callback__form_group_input_name" placeholder="Номер заказа">
                            </div>
                            <div class="form_group">
                                <input type="text" name="brand" class="form_group_input callback__form_group_input_name" placeholder="Бренд">
                            </div>
                            <button type="submit" class="button form_button">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>



        </div>
    </div>
    [[$CallbackFollowing]]
</main>
[[$Footer]]
[[$StopPage]]
