[[$StartPage]]
[[$Header]]
<main>
    <div class="shipping">
        <div class="container">
            [[$Crumbs]]
        </div>
        <div class="shipping_block g_container">
            <h1 class="h1">Доставка и самовывоз</h1>
            [[$AdvantagesItem?
                &title = `Самовывоз`
                &text = `Самовывоз товара осуществляется со склада, расположенного по адресу: Московская обл., г. Красногорск, пос. Отрадное, Пятницское ш., стр. 9, зд. 5, офисно-складской комплекс "Бумеранг"`
                &img = `advantages/1.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Доставка по Москве и МО`
                &text = `Мы доставим ваш заказ "до дверей" или до терминала любой транспортной компании на Ваш выбор.`
                &img = `advantages/6.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Доставка по России и в страны СНГ`
                &text = `Мы осуществляем доставку только до терминала транспортной компании`
                &img = `advantages/8.svg`
            ]]
        </div>
        <div class="shipping_block payment_block g_container">
            <h2 class="h1">Оплата товаров</h2>
            [[$AdvantagesItem?
                &title = `Наличными`
                &text = `Оплата наличными производится в кассе. После оплаты клиент получает кассовый чек и товарную накладную`
                &img = `advantages/9.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Банковскими картами`
                &text = `Наша компания принимает к оплате банковские карты VISA, Mastercard, МИР. Есть функционал оплаты телефоном PayPass.`
                &img = `advantages/10.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Безналичным расчетом`
                &text = `Принимаем оплату на расчетный счет организации от ИП и юридических лиц`
                &img = `advantages/7.svg`
            ]]
        </div>

    </div>
    [[$CallbackBlock]]
    [[$ContactBlock]]
</main>
[[$Footer]]
[[$StopPage]]
